.test {
  background-color: aqua;
}

.mainGrid {
  display: grid;
  grid-template-rows: auto auto auto;
}

.HPNameLevel {
  display: grid;
  grid-template-columns: auto auto auto;
}

.damageReductionGrid {
  display: grid;
  grid-template-columns: auto auto auto;
}





