.test {
  background-color: aqua;
}

.mainGrid {
  display: grid;
  grid-template-rows: auto auto auto;
}

.HPNameLevel {
  display: grid;
  grid-template-columns: auto auto auto;
}

.number {
  border: none;
  border-width: 0;
  /* display: inline-block; */
  width: fit-content;
  min-width: 1rem;
  max-width: 1.5rem;
  box-sizing: content-box;
}

.statGrid {
 display: grid;
 grid-template-columns: auto auto auto auto;
}

.eachStatGrid {
  display: grid;
  grid-template-rows: auto auto;
  padding: 0.75rem;
  margin: 0.25rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
}

.center {
  display: flex;
  margin: auto;
}