/* @import "tailwindcss"; */

:root {
  --background: #dddddd;
  --foreground: #171717;
  --foreground-highlight: #242424;
  --slight-highlight: #00000010;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333;
    --foreground: #ededed;
    --foreground-highlight: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  cursor: pointer;
}

.slightHighlight {
  background-color: var(--slight-highlight);
  border-radius: 0.5rem;
}

.cursorPointer {
  cursor: pointer;
}

.showOnHover .showOnHoverObject{
  /* visibility: hidden; */
  opacity: 0;

}

.showOnHover:hover .showOnHoverObject{
  /* visibility: visible; */
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

}