.mainPageContainer {
  max-width: 40rem;
  margin: auto;
  padding: 0.5rem;
}

.underline  {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  width: min-content;
}


.center {
  display: flex;
  margin: auto;
}


/* Grid Stuff goes below */

.creatureGrid {
  display: grid;
  height: 100dvh;
}


/* For displaying stats */

.statGrid {
 display: grid;
 grid-template-columns: auto auto auto auto;
}

.eachStatGrid {
  display: grid;
  grid-template-rows: auto auto;
  padding: 0.75rem;
  margin: 0.25rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
}

/* part of character sheet select */

.partGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* not sure if this belongs here */

.number {
  border: none;
  border-width: 0;
  /* display: inline-block; */
  width: fit-content;
  min-width: 1rem;
  max-width: 1.5rem;
  box-sizing: content-box;
}

.number.one {
  min-width: 0.5rem;
  max-width: 0.5rem;
}
