.mainGrid {
  height: 100dvh;
  display: grid;
  grid-template-columns: auto 16rem;
}

.rightSideBar {
  overflow-x: hidden;
  background-color: darkgrey;
  width: 100%;
}

.rightSideBarGrid { 
  display: grid;
  grid-template-rows: 2rem auto;
}

.mainGrid.collapsed .rightSideBar {
  width: 0;
  padding: 0;
}