.mainGrid {
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 16rem;
}

.mainGrid > div {
  position: relative;
}

.rightSideBar {
  overflow-x: hidden;
  background-color: darkgrey;
  width: 100%;
}

.rightSideBarGrid { 
  display: grid;
  grid-template-rows: 2rem auto;
}

.mainGrid.collapsed .rightSideBar {
  width: 0;
  padding: 0;
}

.mainGrid.collapsed {
  grid-template-columns: 1fr;
}

.rightSideToggler {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}



.rightSideBarNavGrid {
  display: grid;
  grid-template-columns: auto auto;
}